.base-values {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__values {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__value {
    font-family: monospace;
    font-size: 18px;
    background: rgba($color-dark, 0.2);
    padding: 10px 20px;
  }
}
