.images-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $base-width;
  margin-bottom: 20px;

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 1px;
    margin-bottom: 20px;
  }

  &__button {
    border: none;
    flex: auto 1 1;
    flex-basis: 22px;
    height: 22px;
    padding: 2px;
    background-color: $color-dark;
    color: $color-light;

    &--active {
      opacity: 0.6;
    }
  }
}
