.pattern-maker {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: $base-width;
  margin-bottom: 20px;

  &__checkbox {
    display: flex;
    gap: 20px;
    line-height: 20px;
    align-items: center;
    cursor: pointer;

    input {
      width: 20px;
      height: 20px;
    }
  }
}
