.app {
  margin: 0 auto;
  padding: 40px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: #{20px + $base-width};

  &__headline {
    font-size: 20px;
  }

  &__doc-link {
    font-size: 12px;
    margin-left: 20px;
    color: inherit;

    &:hover {
      opacity: 0.3;
    }
  }
}
