.group-code-preview {
  overflow-x: scroll;
  padding: 10px 0;
  margin-bottom: 40px;

  &__pattern {
    font-family: monospace;
    width: $base-width;
    display: block;
    margin-bottom: 20px;
  }
}
